<div class="tab {{tab.cssClass}}" data-tab="backup" data-group="dsn-main">
    <div class="settings-list">
        <p class="hint">{{localize "DICESONICE.BackupHint"}}</p>
        <div class="form-group">
            <button type="button" data-saveas name="saveas">
                <i class="fas fa-archive"></i> {{localize "DICESONICE.SaveAs"}}
            </button>
        </div>
        <div class="form-group">
            <button type="button" data-load name="load">
                <i class="fas fa-box-open"></i> {{localize "DICESONICE.Load"}}
            </button>
        </div>
        <hr />
        <div class="form-group">
            <button type="button" data-import name="import">
                <i class="fas fa-file-import"></i> {{localize "DICESONICE.Import"}}
            </button>
        </div>
        <div class="form-group">
            <button type="button" data-export name="export">
                <i class="fas fa-file-export"></i> {{localize "DICESONICE.Export"}}
            </button>
        </div>
        <div class="form-group">
            <button type="button" data-exportSFX name="exportSFX">
                <i class="fas fa-file-export"></i> {{localize "DICESONICE.ExportSFX"}}
            </button>
        </div>
        <hr />
        <div class="form-group">
            <button type="button" data-reset name="reset">
                <i class="fas fa-undo"></i> {{localize "DICESONICE.Reset"}}
            </button>
        </div>
    </div>
</div>