<div class="bio-grid-2col">
    <span>Strength</span>
    <input type="number" name="statistics.str" value="{{actorData.statistics.str}}" data-dtype="Number">
    <span>Constitution</span>
    <input type="number" name="statistics.con" value="{{actorData.statistics.con}}" data-dtype="Number">
    <span>Dexterity</span>
    <input type="number" name="statistics.dex" value="{{actorData.statistics.dex}}" data-dtype="Number">
    <span>Intelligence</span>
    <input type="number" name="statistics.int" value="{{actorData.statistics.int}}" data-dtype="Number">
    <span>Power</span>
    <input type="number" name="statistics.pow" value="{{actorData.statistics.pow}}" data-dtype="Number">
    <span>Charisma</span>
    <input type="number" name="statistics.cha" value="{{actorData.statistics.cha}}" data-dtype="Number">
</div>